<div [@fadeTranslateAnimation]="state" class="content">

  <span #categoryTitle class="title">Categories <button *ngIf="isAdminView" (click)="toggleAdminControls()" mat-icon-button><mat-icon>build</mat-icon></button></span>
  <span (click)="addFilter()" *ngIf="adminControlsEnabled" class="addButton"> Add Filter </span>

  <div *ngIf="categories.length>0" #categoryContainer class="categoryContainer">

    <div class="categoryButton" *ngFor="let category of categories; let i = index">
      <div class="catButtonContainer">
        <div class="catButtonContainer" #categoryEL (click)="onClick(i)">
          {{ category.name }}
        </div>
        <div *ngIf="adminControlsEnabled" class="adminControlsContainer">
          <button mat-icon-button (click)="editFilter(i)"><mat-icon>build</mat-icon></button>
          <button mat-icon-button (click)="deleteFilter(i)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="categories.length===0" class="noCategoriesFoundContainer">
    <img src="{{wwwRoot}}{{noCategoryFoundImgURL}}" />
  </div>



  <!-- hide this untill you have something to show -->
  <!--<span #selectedCategories id="selectedCategories">nothing</span>-->

  <hr />

</div>
