<div class="content">
  <span class="title">Edit Filter</span>

  <mat-form-field class="input">
    <input matInput placeholder="Filter Name" [(ngModel)]="newName" required>
  </mat-form-field>

  <div class="controls">
    <button mat-button (click)="onSave()">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>

</div>
