.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  font-family: 'lato', sans-serif;
  justify-content: center;
  display: flex;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

hr {
  margin: 0;
  width: 58%;
  display: block;
  align-self: center;
}

.categoryButton {
  display: inline-block;
  border: 1.1px solid rgba(154, 154, 154, 0.69);
  min-width: 30ch;
  max-width: 40ch;
  height: 3.5em;
  font-family: 'lato', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 12px 6px 12px;
  background: #FFF;
  transition: color 0.15s;
  transition: background 0.2s;
  cursor: pointer;
}

.categoryButtonDisabled:hover {
  /* nothing */
}

.categorySelectedButton {
  background: #202020;
  color: #ffffff;
}


@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .categoryContainer {
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .categoryContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

  /* portrait phones*/
  .categoryContainer {
    width: 100%;
  }
}

.content .title {
  font-family: 'lato',sans-serif;
  font-size: 36px;
  padding: 24px 0;
}

.adminControlsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 66, 66, 0.36);
}

.catButtonContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


  .catButtonContainer:hover {
    background: #404040;
    color: #ffffff;
    transition: color 0.2s;
    transition: background 0.3s;
  }

.catButtonDisabledContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  display: inline-block;
  border: 1.1px solid rgba(154, 154, 154, 0.69);
  min-width: 30ch;
  max-width: 40ch;
  height: 3.5em;
  font-family: 'lato', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 12px 6px 12px;
  background: rgba(212, 212, 212, 0.69);
  transition: color 0.15s;
  transition: background 0.2s;
  cursor: pointer;
}
