
<div class="content">
  <span class="title">Delete Filter: {{filter.name}}</span>

  <span class="text">Are you sure?</span>

  <div class="controls">
    <button mat-button (click)="onOk()">Yes</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</div>
