.content {  
  font-family: 'lato', sans-serif;
  display: flex;
  flex-direction: column;
  padding:16px;
  width:350px;
}

.title {
  font-size: 24px;
  padding-top: 8px;
}

.input{
  padding-top:12px;
}

.controls {
  padding-top: 8px;
}


