
<div [@fadeOutAnimation]='loaderState'
     (@fadeOutAnimation.done)="loadingAnimationCompleted($event)"
     #loadingContent class="loadingContent">
  <mat-spinner></mat-spinner>
</div>

<div [@fadeOutAnimation]='contentState' #content class="content hidden loadingHidden">
  <app-toolbar #appToolbar class="toolbarContent" (onSearchValueChange)="onSearchEvent($event)"></app-toolbar>

  <div class="nonToolbarContent">
    <app-banner #appBanner class="bannerContent" (onScrollButtonClicked)="scrollDown()"></app-banner>
    <div #bodyContent class="bodyContent" id="bodyContent">
      <div id="dataContainers">
        <app-filter #appFilter
                    [isAdminView]="isAdminView"
                    [categories]="categories"
                    [selectedIndeces]="selectedIndeces"
                    (onCategoryToggled)="onCategoryToggled($event)"
                    (onAddFilterEvent)="onAddFilterEvent($event)"
                    (onEditFilterEvent)="onEditFilterEvent($event)"
                    (onDeleteFilterEvent)="onDeleteFilterEvent($event)">
        </app-filter>
        <app-list #appList
                  [isAdminView]="isAdminView"
                  [reviews]="filteredReviews"
                  (onAddReviewEvent)="onAddReviewEvent($event)"
                  (onEditReviewEvent)="onEditReviewEvent($event)"
                  (onUploadReviewEvent)="onUploadReviewEvent($event)"
                  (onDeleteReviewEvent)="onDeleteReviewEvent($event)">
        </app-list>
      </div>
      <app-footer #appFooter>
      </app-footer>
    </div>
  </div>
</div>

