.content {
  font-family: 'lato', sans-serif;
  padding: 16px;
  min-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  /*min-width: calc(1 * 400px / 3);
  min-height: calc(1 * 400px / 3);
  width: calc( (1 * 60vw /3) - 64px );
  height: calc(2 * 60vw /3 );
  max-height: calc( (2 * 60vw /3) - 32px);
  overflow-y: auto;
  padding: 16px 32px;*/
}

.title {
  font-size: 24px;
  padding-top: 8px;
}

.controls {
  padding-top: 8px;
}

.bodyContent {
  display: flex;
  flex-direction: column;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
}

.importanceContainer {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

  .importanceContainer mat-radio-group {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 65px;
  align-items: flex-end;
  max-width: 400px;
}

  .imageContainer .imagePreview {
    width: 100%;
  }

  .imageContainer span {
    word-wrap:break-word;
  }

  .imageContainer img {
    width: 100%;
    height: 100%;
  }

.filterContainer {
  display: flex;
  flex-direction: column;
}

  .filterContainer button {
    align-self: flex-end;
  }

.filterButtonContainer {
  display: flex;
}

.affLinkContainer {
  display: flex;
  flex-direction: column;
}

.affLinkContainer td{
  padding:0; margin:0;
}
