.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  justify-content: space-around;
  position: relative;
  background: #2f2f2f;
}

  .content .titleContainer {
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .content .titleContainer {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .content .titleContainer span {
      font-size: 87px;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
    }

  .content .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    /*set through typescript for onLoad fade effects*/
    /*background: url('http://localhost:51276/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;*/
  }

  .content .backgroundOpacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    opacity: 0.48;
    filter: alpha(opacity=0.48);
    z-index: 1;
  }

.scrollButton {
  border: none;
  background: none;
  width: 64px;
  height: 64px;
}

.mat-icon {
  font-size: 38px;
  height: 38px;
  width: 38px;
  color: #f2f2f2;
}

.scrollButtonContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

span {
  font-family: 'lato', sans-serif;
  color: #f2f2f2;
}

.fadeOut {
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.fadeIn {
  opacity: 1;
  transition: opacity ease-in-out 0.4s;
}

@media only screen and (max-width: 768px) {

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vw - 64px);
    max-height: calc(100vw- 64px);
    justify-content: space-around;
    position: relative;
    background: #2f2f2f;
  }

  .scrollButtonContainer {
    display: none;
  }
}

@media only screen and (max-width:540px) {
  .titleContainer span {
    font-size: 64px !important;
    font-size: 15vw !important;
  }
}
