<div class="content">

  <div #background class="background fadeOut">    
  </div>

  <div class="backgroundOpacity">
  </div>

  <div class="titleContainer">
    <span>TECHVISORY</span>
  </div>

  <div class="scrollButtonContainer">
    <span> REVIEWS </span>
    <button mat-icon-button class="scrollButton" (click)="scrollDown()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div> 
</div>


