/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.custom-dialog-container .mat-dialog-container{
  padding:0;
  margin:0;
}


body {
  margin: 0;
  background: #f6f6f6;
}
