.content {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  overflow-y:hidden;
}

p {
  word-wrap: break-word;
  color: #333;
  padding: 0 0 1em 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  text-align: justify;
}

.imageContainer {
  min-width: calc(2 * 400px / 3);
  min-height: calc(2 * 400px / 3);
  width: calc(2 * 60vw / 3 );
  height: calc(2 * 60vw / 3 );
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .imageContainer img {
    width: 100%;
    /*height: calc(2 * 60vw / 3 );*/
  }

.detailsContainer {
  min-width: calc(1 * 400px / 3);
  min-height: calc(1 * 400px / 3);
  overflow-y: auto;
  padding: 16px 32px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


span, a, p {
  font-family: 'lato', sans-serif;
}

.detailsContainer .transcript p {
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  /* tablets and desktop */
  .content {
    min-width: 280px;
    min-height: 280px;
    width: 80vw;
    max-height: 80vh;
    display: block;
    overflow-y: auto;
  }

  .imageContainer {
    width: 100%;
    height: 80vw;
    max-height: 80vw;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    .imageContainer img {
      width: 100%;
    }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* tablets and desktop */
  .content {
    min-width: 280px;
    min-height: 280px;
    width: 80vw;
    max-height: 80vh;
    display: block;
    overflow-y: auto;
  }

  .imageContainer {
    width: 100%;
    height: 80vw;
    max-height: 80vw;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    .imageContainer img {
      width: 100%;
    }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* tablets and desktop */
  .content {
    min-width: 280px;
    min-height: 280px;
    width: 70vw;
    max-height: 80vh;
    display: block;
    overflow-y:auto;
  }

  .imageContainer {
    width: 100%;
    height: 70vw;
    max-height: 70vw;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    .imageContainer img {
      width: 100%;
    }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 960px) {

  .detailsContainer {
    padding: 12px 16px;
    width: calc( (1 * 60vw /3) - 32px );
    height: calc(2 * 60vw /3 );
    max-height: calc( (2 * 60vw /3) - 24px);
  }

  span, a, p {
    font-size: 10px;
  }

  .detailsContainer .title {
    font-size: 16px;
  }

  .detailsContainer .date {
    margin-top: 3px;
  }

    .detailsContainer .date span {
      font-size: 10px;
    }

  .detailsContainer .links {
    margin-top: 2px;
  }

    .detailsContainer .links span, a {
      font-size: 10px;
    }

  .detailsContainer .transcript {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }

    .detailsContainer .transcript .title {
      font-size: 12px;
    }
}

@media only screen and (min-width: 1440px) {

  .detailsContainer {
    padding: 16px 32px;
    width: calc( (1 * 60vw /3) - 64px );
    height: calc(2 * 60vw /3 );
    max-height: calc( (2 * 60vw /3) - 32px);
  }

  span, a, p {
    font-size: 14px;
  }

  .detailsContainer .title {
    font-size: 20px;
  }

  .detailsContainer .date {
    margin-top: 6px;
  }

    .detailsContainer .date span {
      font-size: 14px;
    }

  .detailsContainer .links {
    margin-top: 3px;
  }

    .detailsContainer .links span, a {
      font-size: 14px;
    }

  .detailsContainer .transcript {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

    .detailsContainer .transcript .title {
      font-size: 16px;
    }
}

@media only screen and (min-width: 1920px){
  /* what happnes here fuck*/
}

