<div class="content">
  <div class="imageContainer">
    <!-- show uploaded files data -->
    <img *ngIf="imageReady()" src={{review.src}} />
    <!-- show backend url if available -->
    <img *ngIf="imageProvided()" src={{wwwRoot}}{{review.imgURL}} />
  </div>

  <div class="detailsContainer">
    <span *ngIf="review.name" class="title">{{review.name}}</span>

    <hr />

    <div *ngIf="review.date" class="date">
      <span>Posted on:  <strong>{{review.date.toLocaleDateString()}}</strong></span>
    </div>

    <div *ngIf="review.affiliateLinks" class="links">
      <span *ngFor="let link of review.affiliateLinks">{{link[0]}}: <a href="link[1]">{{link[1]}}</a></span>
    </div>

    <div *ngIf="review.transcript" class="transcript">
      <span class="title"> Review </span>
      <p class="text">{{review.transcript}} </p>
    </div>

  </div>
</div>
