<div class="content">
  <span class="title">Add Review</span>


  <div class="bodyContent">

    <mat-form-field class="input">
      <input matInput placeholder="Review Name" [(ngModel)]="review.name">
    </mat-form-field>


    <div class="infoContainer">

      <mat-form-field style="width:13ch" class="input">
        <input matInput type="number" placeholder="Old Price" [(ngModel)]="review.oldPrice">
        <mat-hint align="start"><strong>e.g. 45</strong> </mat-hint>
      </mat-form-field>

      <mat-form-field style="width:13ch" class="input">
        <input matInput type="number" placeholder="New Price" [(ngModel)]="review.newPrice">
        <mat-hint align="start"><strong>e.g. 35</strong> </mat-hint>
      </mat-form-field>

      <!-- binding, locale -->
      <mat-form-field style="width:13ch">
        <input matInput [matDatepicker]="dp" placeholder="Choose a date" [(ngModel)]="review.date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="importanceContainer">
      <span> Importance </span>
      <mat-radio-group [(ngModel)]="review.importance">
        <mat-radio-button value="0">Regular 1x1</mat-radio-button>
        <mat-radio-button value="1">Elongated 2x1</mat-radio-button>
        <mat-radio-button value="2">Large 2x2</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="filterContainer">
      <span> Filters </span>
      <!-- click to delete -->

      <div class="filterButtonContainer">
        <button mat-button *ngFor="let filterTag of review.filterTags" (click)="deleteFilter(filterTag)">
          {{filterTag}}
        </button>
      </div>

      <mat-form-field class="input">
        <input matInput type="text" placeholder="Add Filter" [(ngModel)]="filterTag">

        <mat-hint align="start"><strong>e.g. PC</strong> </mat-hint>
      </mat-form-field>

      <button mat-button (click)="addFilter()">Add Filter</button>

    </div>

    <!-- affiliate links -->

    <div class="affLinkContainer">
      <span>Affiliate Links</span>

      <table style="width:100%">
        <tr>
          <td><span style="width:13ch">Region</span></td>
          <td><span style="width:13ch">Affiliate Link</span></td>
        </tr>
        <tr *ngFor="let aff of review.affiliateLinks; let i = index">
          <td><input [(ngModel)]="aff[0]" /></td>
          <td><input [(ngModel)]="aff[1]" /></td>
          <td><button (click)="deleteAffiliateLink(i)" class="action" mat-icon-button><mat-icon>close</mat-icon></button></td>
        </tr>
        <tr class="addContainer">
          <td><input [(ngModel)]="affiliateLink[0]" /></td>
          <td><input [(ngModel)]="affiliateLink[1]" /></td>
          <td><button (click)="addAffiliateLink()" class="action" mat-icon-button><mat-icon>add</mat-icon></button></td>
        </tr>
      </table>
    </div>

    <!-- transcript -->

    <span>Transcript</span>
    <div class="transcriptContainer">
      <mat-form-field style="width:100%">
        <textarea [(ngModel)]="review.transcript"
                  matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>
    </div>

    <div class="imageContainer">
      <div *ngIf="imageReady()" class="imgPreview">
        <span> Image Preview: {{review.file.name}}</span>
        <img src={{review.src}} />
      </div>

      <div *ngIf="imageProvided()" class="imgPreview">
        <span> Image Preview: {{wwwRoot}}{{review.imgURL}}</span>
        <img src={{wwwRoot}}{{review.imgURL}} />
      </div>

      <div>
        <span>
          <input [accept]="accept" type="file" (change)="onNativeInputFileSelect($event)" #inputFile hidden />
          <button type="button" mat-button (click)="selectFile()">
            <span> Upload Image </span>
            <mat-icon>file_upload</mat-icon>
          </button>
          <button *ngIf="imageReady()" type="button" mat-button (click)="deselectFile()">
            <span> Remove Image </span>
            <mat-icon>close</mat-icon>
          </button>
          <button *ngIf="imageProvided()" type="button" mat-button (click)="removeExistingImage()">
            <span> Remove Cached Image </span>
            <mat-icon>close</mat-icon>
          </button>
        </span>
      </div>



    </div>



  </div>


  <div class="controls">
    <button mat-button (click)="onSave()">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>

</div>
