.bodyContent {
  min-height: calc(100vh - 64px);
  /* 100vh - toolbarHeight, footerHeight - hrHeights*/
  display:flex;
  justify-content:space-between;
  flex-direction: column;
}

#dataContainers {
  min-height: calc(100vh - 64px);
}

.bannerContent {
  z-index: 0;
}

*:not(.bannerContent) {
  z-index: 10;
}

.toolbarContent{
  position:fixed;
  width:100%;
  z-index: 11;
}

.nonToolbarContent{
  padding-top: 64px;
}

.loadingContent{
  position:absolute;
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index: 0;
}

.content {
  z-index: 5;
}

.hidden {
  display: none;
}
