<div
     [@fadeOutAnimation]='loaderState'
     (@fadeOutAnimation.done)="loadingAnimationCompleted($event)"
     #loadingContent class="loadingContent">
  <mat-spinner></mat-spinner>
</div>

<div [@fadeOutAnimation]='contentState' #content class="content hidden loadingHidden">
  <app-toolbar class="toolbarContent" #appToolbar (onSearchValueChange)="onSearchEvent($event)"></app-toolbar>

  <div class="nonToolbarContent">
    <app-banner class="bannerContent" #appBanner (onScrollButtonClicked)="scrollDown()"></app-banner>
    <div #bodyContent class="bodyContent" id="bodyContent">
      <div id="dataContainers">
        <app-filter #appFilter [categories]="categories" [selectedIndeces]="selectedIndeces" (onCategoryToggled)="onCategoryToggled($event)"></app-filter>
        <app-list #appList
                  [reviews]="filteredReviews"
                  #listContent>
        </app-list>
      </div>
      <app-footer #appFooter></app-footer>
    </div>
  </div>
</div>

