.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 128px;
  background:rgba(25,25,25, 1);
}

hr {
  margin: 0;
  width: 58%;
  display: block;
  align-self: center;
}

span {
  padding: 0 24px;
  font-family:'lato', sans-serif;
  text-align:center;
  color:#f6f6f6;
}

#text {
  padding-top:24px;
  padding-bottom:12px;
}

#abn {
  padding-top: 12px;
  padding-bottom: 24px;
}

#hrContainer{
  display:flex;
  justify-content:center;
}
