<!--<div id="hrContainer">
  <hr />
</div>-->
<div class="content">
  <span id="text"> Techvisory as a Sole Trader is a particpiant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com. </span>
  <span id="abn"> ABN: 71 602 031 909 </span>
</div>
