.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .content span {
    font-family: 'lato', sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin: 24px 0px 18px 0px;
  }

.regionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 36px;
  flex-wrap: wrap;
  width: 100%;
}

hr {
  margin: 0;
  width: 30%;
  display: block;
  align-self: center;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.regionButton {
  display: inline-block;
  border: 1.1px solid black;
  /*width:30ch;*/
  height: 3.5em;
  /*border-radius: 32px 32px;*/
  font-family: 'lato', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 12px 6px 12px;
  transition: color 0.15s;
  transition: background 0.2s;
}

  .regionButton:hover {
    background: #404040;
    color: #ffffff;
    transition: color 0.2s;
    transition: background 0.3s;
  }

.regionSelectedButton {
  background: #202020;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .regionContainer {
    width: 60%;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .regionContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

  /* portrait phones*/
  .regionContainer {
    width: 100%;
  }
}
