<div (window:resize)="onWindowResize($event)" #content class="content">
  <div [routerLink]="['/']" class="logoContainer">
    <!-- change this -->
    <!--<img #logo class="largeLogo" src="{{wwwRoot}}{{largeLogoURL}}" />-->
    <span class="logo">TECHVISORY</span>
  </div>

  <div class="controls">
    <button class="searchButton">
      <img id="youtubeImage" src="{{wwwRoot}}{{youtubeImgURL}}" />
    </button>

    <button class="searchButton" (click)="openSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<div #searchContent class="searchContent hidden">

  <div class="searchContainer">
    <input [(ngModel)]="inputValue" #searchInput type="text" placeholder="Search" (ngModelChange)="onValueChange()"/>
  </div>

  <button class="closeButton" (click)="closeSearch()">
    <mat-icon>close</mat-icon>
  </button>
  
</div>

