.content {
  height: 64px;
  background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px gray;
}

  .content .logoContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 18px;
    cursor: pointer;
  }

    .content .logoContainer span {
      font-size: 24px;
      font-family: 'lato', sans-serif;
      color: black;
      text-decoration: none;
    }

  .content .searchButton {
    height: 100%;
    width: 64px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .content .mat-icon {
    color: black;
  }

.mat-icon {
  font-size: 38px;
  height: 38px;
  width: 38px;
}

.searchContent {
  height: 64px;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px gray;
}

  .searchContent .searchContainer {
    width: 100%;
    margin-left: 18px;
  }

    .searchContent .searchContainer input {
      height: 100%;
      font-family: 'lato', sans-serif;
      font-size: 28px;
      width: 100%;
      outline: none;
      padding: 0;
      border: 0;
    }

.searchContainer input:focus {
  outline: none;
}

.searchContent .closeButton {
  border: none;
  background: none;
  width: 64px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.controls {
  display: flex;
}

#youtubeImage {
  height: 42px;
}

.largeLogo {
  width: auto;
  height: 75%;
}

.logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px !important;
  font-weight: bold;
}

@media only screen and (max-width: 400px) {

  .logo {
    font-size: 24px!important;
    font-size: 7.5vw !important;
  }
}
