<div class="content">


  <div>
    <h1>Login</h1>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
    <mat-form-field class="formField">
      <input matInput placeholder="Email"
             formControlName="email"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="f.email.hasError('required') ">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="formField">
      <input
             matInput placeholder="Password"
             formControlName="password"
             type="password"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="f.password.hasError('required') ">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button >Login</button>

  </form>

  <div *ngIf="message" class="messageContainer">
    <span class="message">{{message}}</span>
  </div>
  
</div>
