.content {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-content:center;
  align-items:center;
}

* {
  font-family: 'lato', sans-serif;
}

.form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.formField {
  width: 100%;
}


button {
  font-size:12px;
  width: 100%;
  margin: 10.7px 0 10.7px 0;
}

.messageContainer {
  display: flex;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  border: 1px solid rgba(255, 0, 0, 0.30);
  background: rgba(255, 0, 0, 0.15);
}

.message {
  font-size:12px;
  padding:6px;
  font-family: 'robato', sans-serif;
}
