
<div #content [@fadeTranslateAnimation]="state" class="content">

  <span class="title" *ngIf="isAdminView">Configure<button (click)="toggleAdminControls()" mat-icon-button><mat-icon>build</mat-icon></button></span>
  <span class="title" *ngIf="!isAdminView">Reviews</span>

  <span (click)="addReview()" *ngIf="adminControlsEnabled" class="addButton"> Add Review </span>

  <div *ngIf="reviews.length === 0" class="noReviewsFoundContainer">
    <img src="{{wwwRoot}}{{notFoundImgURL}}"/>
  </div>

  <mat-grid-list *ngIf="reviews.length > 0" gutterSize="8" class="reviewGrid" cols="{{breakPoint}}" rowHeight="1:1">

    <mat-grid-tile *ngFor="let review of reviews; let i = index"                   
                   [colspan]="getColsImport(i)"
                   [rowspan]="getRowsImport(i)">

      <div (click)="openReviewDetails(i)" class="displayContainer">
        <div class="reviewBox">
          <div class="imageContainer">
            <img
                 appDeferLoad
                 [review]=reviews[i]
                 [wwwRoot]=wwwRoot
                 [invisibleClass]=invisibleClass
                 [visibleClass]=visibleClass
                 class="invisible" />
          </div>
        </div>

        <mat-grid-tile-footer id="footer">
          <span>{{review.name}} </span>
        </mat-grid-tile-footer>
      </div>

      <div *ngIf="adminControlsEnabled" class="adminControlsContainer" [ngClass]="(review.dirty ? 'contentDirty' : 'contentClean')">
        <button mat-icon-button (click)="editReview(i)"><mat-icon>build</mat-icon></button>
        <button *ngIf="review.dirty" mat-icon-button (click)="uploadReview(i)"><mat-icon>cloud_upload</mat-icon></button>
        <button mat-icon-button (click)="deleteReview(i)"><mat-icon>delete</mat-icon></button>
      </div>


    </mat-grid-tile>
  </mat-grid-list>

</div>
