.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'lato', 'sans-serif';
}

  .content .title {
    font-family: 'lato',sans-serif;
    font-size: 36px;
    padding: 24px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .displayContainer {
    display:flex;
    align-items:center;
    height:100%;
    width:100%;
  }

.adminControlsContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  font-size: 24px;
}

  .adminControlsContainer:hover {
    color: #ffffff;
    transition: color 0.2s;
  }

.noReviewsFoundContainer {
  width:64px;
  height:64px;
  display:flex;
}

.noReviewsFoundContainer img {
  width:100%;
  height:100%;
}

.contentClean {
  background: rgba(0, 255, 0, 0.5);
}

  .contentClean:hover {
    background: rgba(0, 255, 0, 0.75);
    transition: background 0.3s;
  }

.contentDirty {
  background: rgba(255, 0, 0, 0.5);
}

  .contentDirty:hover {
    background: rgba(255, 0, 0, 0.75);
    transition: background 0.3s;
  }


.addButton {
  display: inline-block;
  border: 1.1px solid rgba(154, 154, 154, 0.69);
  min-width: 30ch;
  max-width: 40ch;
  height: 3.5em;
  font-family: 'lato', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 12px 6px 12px;
  background: rgba(212, 212, 212, 0.69);
  transition: color 0.15s;
  transition: background 0.2s;
  cursor: pointer;
}

  .addButton:hover {
    background: rgba(64, 64, 64, 0.75);
    color: #ffffff;
    transition: color 0.2s;
    transition: background 0.3s;
  }


.reviewGrid {
  width: 80%;
  padding: 0;
}

  .reviewGrid img {
    width: 100%;
  }

  .reviewGrid .reviewBox {
    background: #fff;
  }

mat-grid-tile:hover {
  transform: scale(1.5);
  z-index: 5;
  transition: transform 0.3s ease-in-out;
}

mat-grid-tile {
  transform: scale(1);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  background: #fff;
  cursor: pointer;
}

mat-grid-tile-footer {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.68) !important;
}

  mat-grid-tile-footer span {
    font-family: 'lato', sans-serif;
    word-break: break-word;
    font-size: 10px;
  }

mat-grid-tile:hover #footer {
  opacity: 100;
  transition: all 0.3s ease-in-out;
}


.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:960px) {
  mat-grid-tile:hover {
    transform: none;
    transition: none;
  }

  mat-grid-tile-footer span {
    font-family: 'lato', sans-serif;
    word-break: break-word;
    font-size: 20px;
  }

  mat-grid-tile-footer {
    opacity: 100;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.68) !important;
  }
}

.invisible {
  opacity: 0;
  -moz-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.visible {
  opacity: 1;
  -moz-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
